
body {
  background-color: #E8ECEF;
}
img{
  width: 50%;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;

}

.jumbotron2{
  background-color: black;
  color: #E8ECEF;
  height: 100vh;
}
